@font-face {
  font-family: 'Free Mono';
  src: url('../fonts/FreeMono.otf');
}

@font-face {
  font-family: 'Free Mono Bold';
  src: url('../fonts/FreeMonoBold.otf');
}

@font-face {
  font-family: 'Free Mono Oblique';
	src: url('../fonts/FreeMonoOblique.otf');
}

body {
	font-family: 'Free Mono', monospace;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Free Mono Bold', monospace;
}

a {
	color: blue;
	font-family: 'Free Mono Oblique', monospace;
	font-weight: 700;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	margin-bottom: 7px;
}
